Repository cgeo/cgeo, pull requests merged in 2022-10, with the labels that each got.

#13532 Revert "Use ViewModel for InstallWizardActivity (#13197)"
  main/res/layout/install_wizard.xml
  main/src/cgeo/geocaching/InstallWizardActivity.java
  main/src/cgeo/geocaching/MainActivity.java
  main/src/cgeo/geocaching/SplashActivity.java
  main/src/cgeo/geocaching/settings/CredentialsAuthorizationContract.java
  main/src/cgeo/geocaching/wizard/InstallWizardViewModel.java
  main/src/cgeo/geocaching/wizard/NextButton.java
  main/src/cgeo/geocaching/wizard/PreviousButton.java
  main/src/cgeo/geocaching/wizard/WizardMode.java
  main/src/cgeo/geocaching/wizard/WizardStep.java
Labels: Do not merge / WIP

#13518 set targetSDK to 31 (rel. to #13036)
  main/build.gradle
Labels: Feedback required

#13569 UnifiedMap: Enable live mode for PlainMap type
  main/src/cgeo/geocaching/unifiedmap/AbstractUnifiedMapView.java
  main/src/cgeo/geocaching/unifiedmap/LoadInBackgroundHandler.java
  main/src/cgeo/geocaching/unifiedmap/UnifiedMapActivity.java
  main/src/cgeo/geocaching/unifiedmap/googlemaps/GoogleMapsView.java
  main/src/cgeo/geocaching/unifiedmap/mapsforgevtm/MapsforgeVtmView.java
Labels: Map: Unified

#13571 UnifiedMap: theme legend for OSM offline themes
  main/src/cgeo/geocaching/unifiedmap/AbstractUnifiedMapView.java
  main/src/cgeo/geocaching/unifiedmap/UnifiedMapActivity.java
  main/src/cgeo/geocaching/unifiedmap/mapsforgevtm/MapsforgeThemeHelper.java
  main/src/cgeo/geocaching/unifiedmap/mapsforgevtm/MapsforgeVtmView.java
  main/src/cgeo/geocaching/unifiedmap/mapsforgevtm/legend/RenderThemeLegend.java
  main/src/cgeo/geocaching/unifiedmap/mapsforgevtm/legend/ThemeLegend.java
  main/src/cgeo/geocaching/unifiedmap/mapsforgevtm/legend/ThemeLegendElevate.java
  main/src/cgeo/geocaching/unifiedmap/mapsforgevtm/legend/ThemeLegendFreizeitkarte.java
Labels: Map: Unified

#13576 UnifiedMap: add GM theming support (fix #13574)
  main/src/cgeo/geocaching/unifiedmap/UnifiedMapActivity.java
  main/src/cgeo/geocaching/unifiedmap/googlemaps/GoogleMapsThemeHelper.java
  main/src/cgeo/geocaching/unifiedmap/googlemaps/GoogleMapsView.java
  main/src/cgeo/geocaching/unifiedmap/mapsforgevtm/MapsforgeThemeHelper.java
  main/src/cgeo/geocaching/unifiedmap/tileproviders/AbstractMapsforgeOfflineTileProvider.java
  main/src/cgeo/geocaching/unifiedmap/tileproviders/AbstractTileProvider.java
  main/src/cgeo/geocaching/unifiedmap/tileproviders/GoogleMapSource.java
Labels: Map: Unified
