Repository cgeo/cgeo, pull requests merged in 2023-11, with the labels that each got.

#14181 Enable coreLibraryDesugaring to provide access to modern java APIs on old API levels
  main/build.gradle
Labels: Feedback required, CI server / Build tools

#14839 UnifiedMap: Activate OneTimeMessages
  main/src/main/java/cgeo/geocaching/unifiedmap/UnifiedMapActivity.java
Labels: Map: Unified

#14797 [cache/WP popup] show as bottom sheet dialog
  main/AndroidManifest.xml
  main/src/main/java/cgeo/geocaching/AbstractDialogFragment.java
  main/src/main/java/cgeo/geocaching/CachePopup.java
  main/src/main/java/cgeo/geocaching/CachePopupFragment.java
  main/src/main/java/cgeo/geocaching/SwipeToOpenFragment.java
  main/src/main/java/cgeo/geocaching/WaypointPopup.java
  main/src/main/java/cgeo/geocaching/WaypointPopupFragment.java
  main/src/main/java/cgeo/geocaching/activity/AbstractNavigationBarMapActivity.java
  main/src/main/java/cgeo/geocaching/maps/CGeoMap.java
  main/src/main/java/cgeo/geocaching/maps/MapUtils.java
  main/src/main/java/cgeo/geocaching/maps/google/v2/GoogleMapActivity.java
  main/src/main/java/cgeo/geocaching/maps/google/v2/GoogleMapView.java
  main/src/main/java/cgeo/geocaching/maps/mapsforge/v6/NewMap.java
  main/src/main/java/cgeo/geocaching/unifiedmap/UnifiedMapActivity.java
  main/src/main/res/layout-land/map_detailsfragment.xml
  main/src/main/res/layout/fragment_swipe_to_open.xml
  main/src/main/res/layout/map_detailsfragment.xml
  main/src/main/res/layout/map_google.xml
  main/src/main/res/layout/map_mapsforge_v6.xml
  main/src/main/res/layout/unifiedmap_activity.xml
  main/src/main/res/layout/waypoint_popup.xml
  main/src/main/res/values/strings.xml
Labels: Feedback required

#14818 Refactored ImportBookmarkLinks using newly available tools from Java 1.8
  main/src/main/java/cgeo/geocaching/connector/gc/ImportBookmarkLinks.java
  main/src/main/java/cgeo/geocaching/connector/gc/util/AggregatedUrlToIdParser.java
  main/src/main/java/cgeo/geocaching/connector/gc/util/SingleUrlToIdParser.java
  main/src/main/java/cgeo/geocaching/connector/gc/util/UrlToIdParser.java
  main/src/test/java/cgeo/geocaching/connector/gc/ImportBookmarkLinksTest.java
Labels: Assigned-non-collab
