Repository cgeo/cgeo, pull requests merged in 2023-03, with the labels that each got.

#14051 Add Google Terrain tileprovider to UnifiedMap (rel. to #14043)
  main/src/main/java/cgeo/geocaching/unifiedmap/tileproviders/GoogleTerrainSource.java
  main/src/main/java/cgeo/geocaching/unifiedmap/tileproviders/TileProviderFactory.java
  main/src/main/res/values/strings.xml
Labels: Map: Unified

#14052 Add Google Terrain as map provider to GMv2 (fix #14043)
  main/src/main/java/cgeo/geocaching/maps/CGeoMap.java
  main/src/main/java/cgeo/geocaching/maps/google/v2/GoogleMapProvider.java
  main/src/main/java/cgeo/geocaching/maps/google/v2/GoogleMapView.java
Labels: Map: GMapsV2

#14127 split "Map" settings into 2 new pages and move some stuff to Appearance
  main/src/main/java/cgeo/geocaching/settings/SettingsActivity.java
  main/src/main/java/cgeo/geocaching/settings/fragments/PreferenceMapContentBehaviorFragment.java
  main/src/main/java/cgeo/geocaching/settings/fragments/PreferenceMapSourcesFragment.java
  main/src/main/res/drawable/settings_map_content.xml
  main/src/main/res/values/preference_keys.xml
  main/src/main/res/values/strings.xml
  main/src/main/res/xml/preferences.xml
  main/src/main/res/xml/preferences_appearence.xml
  main/src/main/res/xml/preferences_map.xml
  main/src/main/res/xml/preferences_map_content_behavior.xml
  main/src/main/res/xml/preferences_map_sources.xml
Labels: Frontend Design, Feedback required
