Repository cgeo/cgeo, pull requests merged in 2025-04, with the labels that each got.

#16809 Allow running Unit Tests on PR from forks
  .github/workflows/tests.yml
  .github/workflows/watchdog.yml
Labels: safe to test

#16812 ci: Add step to print env
  .github/workflows/tests.yml
Labels: safe to test

#16803 Retain favo status on image selection while logging (fix #16780)
  main/src/main/java/cgeo/geocaching/log/LogCacheActivity.java
Labels: safe to test

#16824 chore: update gc.su URLs
  main/src/main/java/cgeo/geocaching/connector/su/SuConnector.java
Labels: safe to test

#16840 checkstyle 10.21.4
  .idea/checkstyle-idea.xml
  main/build.gradle
Labels: CI server / Build tools

#16770 Save translation state for inline-translation (rel #16746)
  main/src/main/java/cgeo/geocaching/CacheDetailActivity.java
  main/src/main/java/cgeo/geocaching/TrackableActivity.java
  main/src/main/java/cgeo/geocaching/utils/OfflineTranslateUtils.java
Labels: Feedback required, Do not merge / WIP
