Repository cgeo/cgeo, pull requests merged in 2025-06, with the labels that each got.

#16982 Update jsoup to 1.20.1
  main/build.gradle
  main/src/test/java/cgeo/geocaching/utils/html/HtmlUtilsJunitTest.java
Labels: CI server / Build tools, Dependencies

#17018 Add some missing OC cache types
  main/src/main/java/cgeo/geocaching/connector/oc/OkapiClient.java
Labels: Connector OC

#17017 #431: Add CompassMiniView in cache detail view
  main/src/main/java/cgeo/geocaching/CacheDetailActivity.java
  main/src/main/java/cgeo/geocaching/settings/Settings.java
  main/src/main/java/cgeo/geocaching/settings/fragments/BasePreferenceFragment.java
  main/src/main/java/cgeo/geocaching/ui/CompassMiniView.java
  main/src/main/java/cgeo/geocaching/ui/NavigationActionProvider.java
  main/src/main/res/layout/compass_action_view.xml
  main/src/main/res/values/preference_keys.xml
  main/src/main/res/values/strings.xml
  main/src/main/res/xml/preferences_cachedetails.xml
Labels: ok-to-test
